@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<OrderInventory.Models.OrderDetails>

    <h2> Items included in your order</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Details</th>
           
        </tr>

    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>

               <td>@item.ItemId</td>
               <td>@item.ItemName</td>
               <td><a href="/Order/OrderDetails/@item.Id">View Price</a></td>
            </tr>
        }
    </tbody>

</table>